$header-bg: #353535;
$panel-border: #CBCBCB;
$page-bg: #EFEFEF;
$panel-background: #F3F3F3;

$app-theme-base: #1c7ac2;
$app-theme-highlight: lighten($app-theme-base, 5%);
$app-theme-lowlight: darken($app-theme-base, 5%);
$app-theme-light: lighten($app-theme-base, 10%);